@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-white: #FFFFFF;
  --color-brand-smoke: #F4F4F4;
  --color-brand-cerulean: #007EA7;
  --color-brand-graphite: #18181b; /* Más oscuro para un mejor contraste en modo oscuro */
  --color-brand-carbon: #09090b;   /* Casi negro, fondo perfecto para modo oscuro */
}

:root {
  --background: var(--color-brand-smoke);
  --foreground: var(--color-brand-carbon);
}

.dark {
  --background: var(--color-brand-carbon);
  --foreground: var(--color-brand-white);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: var(--color-brand-carbon);
    --foreground: var(--color-brand-white);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

